.topic {
    color: red;
    font-size: larger;
    font-weight: 600;
}

h1{
    margin-left: 5vh;
}


.About {
    max-height: 100vh;
    overflow-y: scroll;    
}

#logo {
    margin: 0;
}

.content{
    margin: 40px;
}

.information {
    margin-top: 120px;
}

.content p:not(.topic) {
    text-align: justify;
    margin: 0 30px;

}

::-webkit-scrollbar {
    width: 6px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

  