body {
  margin: 0;
  overflow: hidden;
}

nav{
  margin: 0;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(202, 202, 202, 0.474);
}


#logo {
  height: 10vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.information {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#HeaderText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-floating {
  display: flex;
  flex-wrap: wrap;
}

.form-floating button {
  margin-left: 10px;
}

.btn {
  background-color: dimgray;
  border-color: black;
}

#marginAdder {
  margin: 2% auto;
  width: 200px;
  background-color: rgb(108, 71, 71);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: dimgray;
  color: #ffffff;
  text-align: center;
  z-index: 3;
  padding: 10px;
}

footer button {
  background-color: rgb(73, 73, 73);
  color: white;
  font-weight: 400;
  text-decoration: none;
  width: 100px;
  border-radius: 4px;
}

footer button:hover{
  background-color: rgb(49, 49, 49);
}